<div class="inline">
  <form id="new-message">
    <input type="text" class="form-control" placeholder="Message" id="message-content" autofocus/>
  </form>
</div>

<ul class="list-group mt-5" id="messages">
  <%= for message <- @messages do %>
    <li class="list-group-item">
      <b><%= message.author <> ":" %></b>
      <%= message.content %>
    </li>
  <% end %>
</ul>
